.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    width: 100%;
    
}

.post-container {
    border-bottom: var(--secondary-color) 1px solid;
   
    &:hover {
        background-color: var(--background-color-highlight);
        cursor: pointer;
    }
}

