.single-post-container {
    width: 60%;
    border-right: 1px solid var(--secondary-color);
    min-height: 105vh;
}
.post-content {
    font-weight: bold;
}
.post-info {
    font-weight: bold;
    size: 110%;
}
.post-wrapper, .user-comment-box {
    border-bottom: 1px solid var(--secondary-color);
}
.user-comment-btn {
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: var(--background-color-highlight);
        
    }
}
.feed-post-footer button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--text-color);
    transition: color 0.3s, background-color 0.3s;
    border-radius: 20px;
    padding: 0.25rem;
}
.feed-post-footer button:hover {
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.1);
}

.feed-post-footer button span {
    margin-right: 0.5rem;
}

/* Highlight effect */
.feed-post-footer button.highlighted {
    color: var(--accent-color);
    background-color: rgba(0, 0, 0, 0.1);
}

/* Liked state for the like button */
.feed-post-footer button.like-button.liked, 
.feed-post-footer button.repeat-button.shared,
.feed-post-footer button.comment-button.commented {

    color: var(--primary-color);
}


.feed-parent .post-link {
    color: var(--text-color-dark);
}

.footer-menu-btn-text {
    font-size: 1.2rem;
    font-weight: bold;
}
.dropdown {
    position: relative; /* Needed for positioning the dropdown menu relative to this container */
}

.dropdown-content {
    position: absolute; /* Position the menu absolutely within the dropdown */
    top: 100%; /* Aligns the menu below the button */
    right: 0; /* Aligns the menu to the left edge of the button */
    background-color: var(--background-color); /* Set your desired background color */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for better visibility */
    border-radius: 4px; /* Optional: Add some rounded corners */
    z-index: 10; /* Ensures the dropdown appears above other content */
    padding: 8px; /* Optional: Adjust padding for spacing */
    display: none; /* Initially hide the menu */
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown-content.open {
    display: block; /* Show the menu when the dropdown is open */
    opacity: 1;
    transform: scale(1);
}
.error-container {
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    margin: auto;
    color: var(--text-color-dark);
}
.error-container p {
    padding-bottom: 3rem;
}

.post-media {
    max-width: 40%;
    height: auto;
}


@media screen and (max-width: 1100px) {
    .single-post-container {
        width: 100%;
    }
}
