.recipe-container {
    display: flex;
    flex-direction: column !important;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}

.recipe-credit {
    font-size: .8rem;
    margin-bottom: 1rem;
}

.recipe-quick-info-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    color: var(--text-color-dark);
    background-color: var(--background-color);
}

.recipe-quick-info-box span {
    color: var(--primary-color);
    font-size: 2rem;
    padding: 0 1rem;
}

.recipe-quick-info-box div {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.recipe-title h1 {
    color: var(--text-color-dark);
}

.ing-inst-cols {
    display: flex;
    margin: 0rem 1rem;
}

.half-width {
    width: 50%;
}
.recipe-search-btn {
    font-weight: bold;
    color: #fff;
}


.recipe-img-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    max-width: 60%;

}

.recipe-search-result a {
    color: var(--text-color-dark) !important;
    
}

.recipe-search-result:hover {
    color: var(--background-color-highlight) !important;
}


@media screen and (max-width: 768px) {
    .recipe-quick-info-box {
        padding: 0 2rem;
    }

    .half-width {
        width: 100%;
    }


    .recipe-title {
        justify-content: center;
        text-align: center;
    }



    .ing-inst-cols {

        flex-direction: column !important;
        padding: 2rem 0;
    }

}