<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>KitchenSync</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/globals.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/app/app-style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/app/settings.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/app/nav.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/app/post-modal.css" />
</head>

<body >

  <section id="app">

  </section>
  <script src="/assets/appBundle.js" defer></script>

</body>

</html>