<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>KitchenSync</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/globals.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/login-style.css" />
</head>

<body class="has-background-light" style="min-height: 120vh;">
  
  <div id="content">

  </div>
  
  
  {{!-- <script src="https://accounts.google.com/gsi/client" nonce="abc123" async></script> --}}

  <script src="/assets/loginBundle.js" defer></script>
</body>

</html>