:root {
    --primary-color: #FF8C61; /* Warm Peach */
    --secondary-color: #273F50; 
    --accent-color: #E63946; /* Tomato Red */
    --background-color: #F8F5F2; /* Soft Beige */
    --text-color-dark: #333533; /* Charcoal Grey */
    --text-color-light: #FBFBFA; /* Muted White */
    --highlight-color: #FFD166; /* Sunny Yellow */
    --depth-color: #6A994E; /* Muted Olive */
    --hover-color: #FF8C61;
    --button-bg: white;
    --button-hover-bg: #ecf0f1;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/*Navbar*/
.nav-avatar {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: left;
}
.nav-container {
    width: 100%;
    max-width: 25%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 2rem;
    height: 105vh;

    border-right: 1px solid var(--secondary-color);
    /* box-shadow: 2px 0 5px var(--depth-color); */
}

.avatar-container {
    max-width: 96px;
    max-height: 96px;
    margin-bottom: 2rem;
    
}

.avatar-image {
    /* width: 80px;
    height: 80px; */
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 55%;
}


.nav-list li {
    margin-bottom: 1rem;
    /* text-align: right; */
}

.nav-list li button {
    color: var(--text-color-dark);
    display: flex;
    align-items: center;
    /* justify-content: right; */
    gap: 0.5rem;
    background-color: var(--button-bg);
    
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    /* text-align: right; */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 90%;
    margin-left: auto;
}




.post-btn {
    margin-top: 4rem;
    background-color: var(--primary-color) !important;
    color: white !important;
}

.nav-list li button:hover {
    
    background-color: var(--hover-color);
    color: white;
    transform: scale(1.05);
}
.post-btn:hover {
    background-color: var(--accent-color) !important;
}

.nav-list li button i {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.nav-list li button:hover i {
    color: white;
}

/* Avatar Section */
.settings-title {
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.settings-hr {
    height: 1px; /* Set the thickness */
    background-color: var(--secondary-color); /* Set the color */
    border: none; /* Remove any default borders */
    margin: 1rem 0; /* Optional: Add space around it */
}

.column {
    padding: 0 !important;
}
.avatar-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.settings-avatar-frame {
    width: 12rem;
    height: 12rem;
    border: var(--primary-color) 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.avatar-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.settings-avatar-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.settings-avatar-button:hover {
    background-color: var(--accent-color);
}
.settings-container {
    width:60%;
    display: flex;
    align-items: start;
}
.chose-avatar-image {
    
    transition: transform 0.2s ease;
   
    object-fit: cover; /* Keeps image aspect ratio intact */
    cursor: pointer; /* Indicates clickable element */
}

.chose-avatar-image:hover {
    border-radius: 50%; /* Circular border */
    border: 3px solid var(--primary-color); /* Primary border */
    transform: scale(1.1); /* Slightly grow the image on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}


/* Premium Section */
.premium-section {
    margin-top: 2rem;
}

.premium-title {
    color: var(--text-color-dark);
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    
}

.toggle-container input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
}

/* Security Section */
.security-section {
    margin-top: 2rem;
    
}

.security-title {
    color: var(--text-color-dark);
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.field {
    margin-bottom: 1rem;
}
.label {
    color: var(--text-color-dark) !important;
}
.input {
    background-color: var(--background-color) !important;
    color: var(--text-color-dark)   !important;
    border: 1px solid var(--secondary-color) !important;
    
}
.input::placeholder {
    color: #494a49 !important;
}

.settings-save-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.settings-save-button:hover {
    background-color: var(--accent-color);
}


/* Modals */

.post-modal-card-head {
    padding: 1rem 1rem;
    background-color: var(--secondary-color);
    box-shadow: none;
}
.post-modal-card {
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: var(--highlight-color) 1px solid;
}

.post-modal-card-body {
    background-color: var(--secondary-color);
    border-bottom: var(--highlight-color) 1px solid;
    padding: 3rem 1rem 0rem 3rem;
}
.post-modal-card-body textarea {
    background-color: var(--secondary-color);
    width: 100%;
    height: 10rem;
    resize: none;
    border: none;
    box-shadow: none;
}
.post-modal-card-body textarea:hover, 
.post-modal-card-body textarea:focus, 
.post-modal-card-body textarea:active {
    background-color: var(--secondary-color) !important; 
    border: none !important;
    outline: none !important;
    box-shadow: none !important; 
    color: var(--text-color-light) !important;
}


.post-modal-card-foot {
    color: var(--text-color-light);
    padding: .5rem .5rem;
    background-color: var(--secondary-color);
}
.modal-post-btn {
    background-color: var(--primary-color) !important;
    color: white !important;
    border-radius: 20px;
}
.modal-post-btn:hover {
    background-color: var(--accent-color) !important;
}
.modal-cancel-btn {
    text-decoration-line: none;
    border-radius: 20px;
    color: var(--text-color-light);
}
.modal-cancel-btn:hover {
    background-color: var(--accent-color) !important;
    
}

.post-modal-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem 1rem;
    width: 100%;
}
.post-modal-visibility-dropdown label{
    color: var(--text-color-light) !important;
    display: flex;
    align-items: center;
}
.post-modal-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.post-select select{
    background-color: #315065;
    border: none;
    outline: none;
    color: var(--text-color-light);
}


.post-select select:hover, .select select:focus, .select select:active {
    background-color: #315065 !important;
    border: none !important;
    outline: none !important;
    color: var(--text-color-light) !important;
}
.post-select select:hover {
    background-color: #446f8c !important;
}
.post-icon-container {
    width: 20px; 
    text-align: center; 
    display: inline-block;
}

.feed-header .tabs {
    --bulma-tabs-border-bottom-color: var(--secondary-color); 
    --bulma-tabs-link-color: var(--text-color-dark); 
    --bulma-tabs-link-hover-color: var(--primary-color); 
    --bulma-tabs-link-active-color: var(--primary-color);
    --bulma-tabs-link-active-border-bottom-color: var(--accent-color); 
    --bulma-tabs-boxed-link-active-background-color: var(--background-color); 
}



@media screen and (max-width: 1740px) {
    .nav-list {
        width: 65%;
    }
}
@media screen and (max-width: 1500px) {
    .nav-list {
        width: 75%;
    }
}
@media screen and (max-width: 1300px) {
    .nav-list {
        width: 85%;
    }
    .nav-list li button {
        padding: 0.75rem .75rem;
    }
    .nav-container {
        max-width: 33%;
    }
}
/* For screens 1100px and below */
@media screen and (max-width: 1100px) {
    .nav-list li button {
        padding: 0.5rem; 
        justify-content: center;
        border-radius: 50%;
        width: 50px; 
        height: 50px; 
    }

    .hide-at-1100 {
        display: none; 
    }

    .nav-container {
        max-width: 15%; 
        padding-top: 1rem; 
    }

    .avatar-container {
        width: 50px; 
        height: 50px; 
    }
    .post-btn {
        margin-top: 0rem;
    }
}