:root {
    --primary-color: #FF8C61;
    /* Warm Peach */
    --secondary-color: #273F50;
    --accent-color: #E63946;
    /* Tomato Red */
    --background-color: #F8F5F2;
    /* Soft Beige */
    --text-color-dark: #333533;
    /* Charcoal Grey */
    --text-color-light: #FBFBFA;
    /* Muted White */
    --highlight-color: #FFD166;
    /* Sunny Yellow */
    --depth-color: #6A994E;
    /* Muted Olive */
    --hover-color: #FF8C61;
    --button-bg: white;
    --button-hover-bg: #ecf0f1;
}