:root {
    --primary-color: #FF8C61;
    --secondary-color: #273F50;
    --accent-color: #E63946;
    --background-color: #F8F5F2;
    --background-color-highlight: #f9f9f8;
    --text-color-dark: #333533; 
    --text-color-light: #FBFBFA;
    --highlight-color: #FFD166;
    --depth-color: #6A994E;
    --hover-color: #FF8C61;
    --button-bg: white;
    --button-hover-bg: #ecf0f1;
}