/*https://codepen.io/mupkoo/pen/YgddgB*/
.with-google {

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    padding: 16px 20px 16px 48px;
}

body {
    background-color: var(--background-color);
    font-family: 'roboto', sans-serif;
    color: var(--text-color-dark);
}

.login-btn {
    transition: background-color .3s, box-shadow .3s;
    width: 300px;
    padding: 16px 20px 16px 20px;
    border: none;
    border-radius: 3px;
    /* box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25); */

    color: var(--text-color-dark);
    font-size: 18px;
    font-weight: 500;
    font-family: 'roboto', sans-serif;

    /* background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=); */
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 12px 17px;
    border: var(--primary-color) 1px solid;
    border-radius: 25px;

    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
        background-color: var(--primary-color);
        color: #fff;
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
            0 -1px 0 rgba(0, 0, 0, .04),
            0 2px 4px rgba(0, 0, 0, .25),
            0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}


.title {
    font-size: 6.5rem;
    font-weight: 800;
    color: var(--text-color-dark);
    text-align: left;
}

.subtitle {
    color: var(--text-color-dark);
}

.indent {
    padding-left: 1em;
}

figure.image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.columns .column {
    flex: 1;
    /* Ensures equal spacing */
}

.login-modal {

    --bulma-modal-background-background-color: rgba(0, 0, 0, 0.5);
    --bulma-modal-card-head-background-color: var(--secondary-color);
    --bulma-modal-card-title-color: var(--text-color-dark);
    --bulma-modal-card-foot-background-color: var(--secondary-color);
    --bulma-modal-card-body-background-color: var(--secondary-color);
}
.login-modal .modal-card-head {
    box-shadow: none;
}
.login-modal p.modal-card-title {
    font-weight: 500;
    color: var(--text-color-light);
}
.modal-login-btn {
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;

    &:hover {
        background-color: var(--accent-color);
        transform: scale(1.1);
    }
}
.login-btns {
    margin: 3rem;
    height: 100vh;
}
.login-title {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.mobile-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-header-img {
    width: 60%;
    
}

@media screen and (max-width: 1450px) {

    .title {
        font-size: 4.5rem;
        font-weight: 700;
    }

    .login-btn {
        width: 250px;
        font-size: 16px;
    }

    .indent {
        padding-left: .5em;
    }

}

@media screen and (max-width: 1000px) {

    .title {
        font-size: 3rem;
        font-weight: 600;
    }

    .login-btn {
        width: 175px;
        font-size: 14px;
    }

    .indent {
        padding-left: 0em;
    }

}
@media screen and (max-width: 768px) {

    .title {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .login-btn {
        width: 250px;
        font-size: 15px;
    }

    .indent {
        padding-left: 0em;
    }
    .login-btns {
        height: auto;
    }
    .login-title {
        padding-bottom: .5rem;
        margin-bottom: 0rem;
    }
    
}

/* @media (min-width: 1200px) {
    .columns .column.is-half {
        flex: 0 0 45%; 
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 64px; 
    }

    .subtitle {
        font-size: 24px; 
    }

    .login-btn {
        width: 250px; 
        font-size: 16px; 
    }

    .image img {
        max-height: 200px; 
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 48px; 
    }

    .subtitle {
        font-size: 20px; 
    }

    .login-btn {
        width: 200px; 
        font-size: 14px; 
    }

    .image img {
        max-height: 150px; 
    }
} */